<div class="row border-top mt-4"> 
 <div class="col-4 text-muted"> Company@ 24-25</div>
 <div class="col-4 "> 
  <div class="h5"> Featurs </div>
  <div class="row text-muted ms-1">About us </div>
  <div class="row text-muted ms-1">Cantect us </div>
  <div class="row text-muted ms-1">Our Misstion </div>
 </div>
  <div class="col-4 "> 
  <div class="h5"> Resources </div>
  <div class="row text-muted ms-1">About us </div>
  <div class="row text-muted ms-1">Cantect us </div>
  <div class="row text-muted ms-1">Our Misstion </div>
 </div>
</div>