<%= stylesheet_link_tag "tic_toc"%>
<div class="main-div">
<div class="cantainer">
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div class="btn1"> </div>
	<div id="reset-btn"> Reset Btn </div>
</div>
</div>
<%= javascript_include_tag "custom", defer: true %>